
<div class="mainContainer">

    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <mat-sidenav-container >
      <mat-sidenav #sidenav mode="side" [(opened)]="isOpen" style="display: flex; justify-content: space-between;">
        <div class="column containerLinks">

          <ul>
                <li routerLinkActive="active" [routerLink]="['/home']" class="link">
                <mat-icon class="matIcon">home</mat-icon>
                <a  routerLinkActive="active"> Home</a>
                </li>
                <li routerLinkActive="active" class="link" [routerLink]="['/survey']">
                  <mat-icon class="matIcon">find_in_page</mat-icon>
                  <a  routerLinkActive="active"
                  >Encuesta</a>
                </li>
                <li routerLinkActive="active" class="link" [routerLink]="['/results']">
                <mat-icon class="matIcon">library_books</mat-icon>
                <a  routerLinkActive="active"
                    >Resultados</a
                >
                </li>
     
          </ul>
        </div>
      </mat-sidenav>
      <mat-sidenav-content >
        <div class="center">
            <div class="card">
                <router-outlet ></router-outlet>
            </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>